@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: #000000;
}

img {
	vertical-align: top;
}

/* ----- clearfix ----- */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}
